* {
    margin: 0;
    padding: 0;
}

/* html{
    font-size: 15px;
    font-family: 'Century Gothic', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url("Images/img1.jpg");
    background-size: 100%;
}


.button-area {
    display: flex;
    justify-content: center;
    padding: 8%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}


#icon1 {
    color: rgb(161, 195, 11);
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.nav-item:hover {
    color: #b9b9b9;
    box-shadow: 0px 0px 36px #FFED86;
}

.box {
    width: 40%;
    background: rgba(0, 0, 0, 0.4);
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 1%;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    padding: 10px;
}

.box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
    padding: 10px;
    letter-spacing: 1.5px;
}

ul {
    margin: 0;
    padding: 5px;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9
} */

/* responsive */
@media screen and (max-width: 500px) {
    body {
        /* background-color: #D8A7B1; */
        background-color: #B68D40;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-area {
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        padding: 4%;
        display: flex;
        justify-content: space-around;
        font-size: small
    }
    
    .nav-item {
        color: white;
        text-decoration: none;
        font-family: 'Century Gothic', sans-serif;
    }

    #icon1 {
        /* color: rgb(161, 195, 11); */
        color: #FEDE00;
    }

    .box {
        width: 85%;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        color: white;
        font-family: 'Century Gothic', sans-serif
    }

    .box-img {
        border-radius: 50%;
        height: 80px;
        width: 60px;
        margin-top: 4%;
    }

    .box h1 {
        font-size: 20px;
        letter-spacing: 4px;
        padding: 10px;
    }
    .box h2 {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 100;
        text-align: center;
    }
    
    .box p {
        text-align: justify;
        padding: 10px;
        letter-spacing: 1px;
        font-size: 10px;
    }

    ul {
        margin: 0;
        padding: 5px;
    }
    
    .box li {
        display: inline-block;
        margin: 6px;
        list-style: none;
    }
    
    .box li a {
        color: white;
        text-decoration: none;
        font-size: 30px
    }
}