* {
    margin: 0;
    padding: 0
}
/* responsive for wide screen */
@media screen and (min-width: 501px) {
    body {
        margin: 0;
        padding: 0;
        background: url("Images/vivianWideScreenContact.jpg") no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .button-area {
        display: flex;
        justify-content: center;
        padding: 2%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    #icon3 {
        color: #FEDE00;
    }

    .nav-item {
        color: white;
        text-decoration: none;
        padding: 5px 60px;
        font-family: 'Century Gothic', sans-serif;
        font-size: 20px;
    }

    .nav-item:hover {
        color: #b9b9b9;
        box-shadow: 0px 0px 36px #FFED86;
    }

    .box {
        width: 45%;
        background: rgba(0, 0, 0, 0.6);
        padding: 3%;
        color: white;
        font-family: 'Century Gothic', sans-serif;
        margin: auto;
        margin-top: 2%;
    }

    .box1 {
        color: white;
        font-family: 'Century Gothic', sans-serif;
        margin-top: 1%;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    input {
        height: 45px;
    }

    .form1 {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        font-size: 18px;
        margin-bottom: 16px;
        color: white;
    }

    ::placeholder {
        color: #b9b9b9;
        font-family: 'Century Gothic', sans-serif;
    }

    form #submit {
        background: #bdaf36;
        border-color: transparent;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 20px;
    }

    .box2 {
        margin-top: 2%;
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .box2 li {
        display: inline-block;
        margin: 6px;
        list-style: none;
    }

    .box2 li a {
        color: white;
        text-decoration: none;
        font-size: 60px;
        transition: all ease-in-out 250ms;
    }

    .box2 li a:hover {
        color: #b9b9b9
    }
}

/* responsive for phone and devices */
@media screen and (max-width: 500px) {
    body {
        background-image: url("Images/vivianphonecontact.jpg");
        background-repeat: no-repeat;
        background-size: 100% 130%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-area {
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        padding: 4%;
        display: flex;
        justify-content: space-around;
        font-size: medium
    }

    .nav-item {
        color: white;
        text-decoration: none;
        font-family: 'Century Gothic', sans-serif;
    }

    #icon3 {
        color: #FEDE00;
    }

    .box {
        width: 85%;
        background: rgba(0, 0, 0, 0.6);
        padding: 3%;
        color: white;
        font-family: 'Century Gothic', sans-serif;
        margin: auto;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box1 {
        color: white;
        font-family: 'Century Gothic', sans-serif;
        margin-top: 1%;
        text-align: center;
        font-size: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 90%;
        margin-top: 5%;
    }

    input {
        height: 30px;
    }

    .form1 {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        font-size: 14px;
        margin-bottom: 5%;
        color: white;
    }

    ::placeholder {
        color: #b9b9b9;
        font-family: 'Century Gothic', sans-serif;
    }

    form #submit {
        background: #bdaf36;
        border-color: transparent;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 35px;
        margin-top: 20px;
    }

    .box2 {
        margin-top: 2%;
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .box2 li {
        display: inline-block;
        list-style: none;
        margin: 6px;
    }

    .box2 li a {
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
}